nav {
    top: 0;
    background-color: #eaeaea;
    transition: top 400ms ease-in-out;
    z-index: 4;
    grid-column-gap: 13px;
  }
  
nav.scroll-up,
nav:focus-within {
    top: 0;
}

nav.scroll-down {
    top: -100%;
}
